/*-------------- Main layouts ---------------*/

* {
    background-color: slategray;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    list-style-type: none;
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.1em;
}
body {
    max-width: 90%;
    margin: 0 auto;
}
a {
    background-color: transparent;
}
header a{
    color: slategray;
    margin: 0px;
    display: block;
    padding: 0px;
}
a, h1, h2, h3 {
    font-weight: bold;
}
p {
    max-width: 75%;
}

img {
    max-width: 100%;
}

footer li {
    display: inline-block;
    font-size: 15px;
    padding: 0px 0px;
    margin: 0px 6px
}

.footer-nav {
    display: none;
}

#backtotop {
    float: right;
}

#footer-h3 {
    float:left;
}

/*  --------------------Styling---------------------- */
 .wipe {
    transition: color 0.3s;
    border: 5px solid #fff;
    overflow: hidden;
 }
 .link {
    text-decoration: none;
    color: white;
    text-align: center;
    position: relative;
 }
.wipe:hover {
    color: #124a58;
    background: white;
}

a:-webkit-any-link {
    cursor: pointer;
}
.wipe::after {
    width: 100%;
    height: 100%;
    display: block;
    background-color: transparent;
    content: " ";
    position: absolute;
    top: 0;
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateY(34px);
    z-index: -1;
}
 
/*  -----------------Media Queries-------------------- */

@media (min-width: 768px) {
    * {
        font-size: .99em;
    }
    header nav li {
        display: inline;
    }

    footer nav {
        display: inline;
    }
    header nav a {
        display: inline-block;
        width: 15%;
        margin: 5px;
    }
    #profile {
        margin: 20px 20px 0 0;  
        overflow: auto;
    }
    #profile img {
        float: right;
        display: block;
        max-width: 30%;
    }
    
    #profile p {
        margin-right: 200px;
        font-size: 20px;
    }
    .portfolio {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
    #backtotop {
        display: none;
    }
    .footer-nav {
        display: grid;
        float: right;
        margin: 20px;
    }

    .wipe {
        border: transparent;   
    }
}


@media (min-width: 1024px) {
    header nav a {
         width: auto;
    }
     header ul {
         display: flex;
     }
    .portfolio {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
    }
}
/*  --------------------identifiers---------------------- */
/* .html {
     background-color: lightskyblue; 
}
div {
    background-color: lightgreen; 
    padding: 20px;
    margin: 20px;
}
 img {
    border:lightyellow 20px solid; 
}

a {
    background-color: lightpink;
  }   */

