/* Basic Layout */
* {
    text-align: center;
    font-size: 1.05em;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Quicksand', sans-serif;
}

body, #contact {
    display: grid;
    grid-template-rows: 1fr;
    background-color: gray;
}

#portfolio {
    background-color: white
}

footer ul li {
    display:inline;
    grid-template-rows: 1fr 1fr;
    background-color: gray;
}

img {
    margin: 0 auto;
    display: grid;
    max-width: 90%;

}

a {
    display: block;
    padding: 10px;
    text-decoration : none;
    background-color: white;
    margin: 20px;
}


/* Styling */


#contact p, #contact a, footer a{   /* set phone and email to be on the same line */
    display: inline-block;
    margin: 5px 20px;  
    background-color: gray;
}

.float-left {
    float:left;
} 
.float-right {
    float: right
}

a:visited {
    color:inherit
}


/*  --------------------identifiers---------------------- */
/* .html {
    background-color: lightskyblue;
    padding: 20px;
    margin-bottom: 20px;
}
div {
    background-color: lightgreen;
    padding: 20px;
    margin: 20px;
}
img {
    border:lightyellow 20px solid; 
}

a {
    background-color: lightpink;
} */